@import url("../src/components/Tab/Tab.css");
@import url("../src/components/Toast/Toast.css");
@import url("../src/components/NotFound/PageNotFound.css");
/* home layout */

.outer-wrapper {
  flex-direction: column;
  gap: var(--sm-size);
  padding: var(--sm-size);
}

.screen {
  flex-wrap: wrap;
  gap: var(--sm-size);
  margin: 10rem 0 5.2rem 0;
}

.image-wrapper {
  height: auto;
  align-items: center;
}

.footer {
  background-color: var(--secondary-color);
  bottom: 0;
  height: 5vh;
  overflow: hidden;
}

/* filters */

.filter-wrapper {
  width: 25.6rem;
  margin-top: 6.1rem;
  overflow-y: scroll;
  height: 82.5vh;
  position: fixed;
}

.filter-buttons {
  display: none;
}
/* spacing  */

.full-width {
  width: 100%;
}

.margin-left {
  margin-left: 4.8rem;
}

.margin-right {
  margin-right: 4.8rem;
}

.margin {
  margin: 1.6rem;
}

/* styling  */

.primary-color {
  color: var(--primary-color);
}

body {
  font-family: var(--body-font);
}

.confirmed-order {
  color: var(--accent-green);
}

/* product listing */
.product-listing {
  margin-left: 25.6rem;
  min-height: 100vh;
}

.display-screen {
  margin: 6.8rem 0 5.2rem 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--sm-size);
}
.profile {
  margin-top: 6rem;
}
.toast-position {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}
.btn-container {
  width: 4rem;
}
/* cart */
.custom-width {
  width: var(--xl-size);
  height: var(--xl-size);
}
.cart-wrapper {
  justify-content: flex-start;
}
.order-img {
  width: 15rem;
}
.form {
  width: 35rem;
}
.form-container {
  border: 1px solid var(--secondary-color);
}

.input-width {
  width: 30rem;
}

.sign-up {
  margin-top: 10rem;
  margin-bottom: 0;
}
.page-height {
  min-height: 100vh;
}
.showPassword,
.showLoginPassword {
  position: absolute;
  right: 2rem;
  top: 5rem;
  cursor: pointer;
}
.passwordBox {
  position: relative;
}
img,
.no-data {
  object-fit: fill;
}
.no-data {
  margin-top: 16rem;
  max-width: 24rem;
}
.border-rd2 {
  border-radius: 2rem;
}
.no-border {
  border: none;
}
.background {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  padding: 1rem;
}
.mobileView {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.underlined {
  text-decoration: underline;
}
.auth-button {
  width: 80%;
}
.showLoginPassword {
  top: 5.5rem;
}
@media screen and (max-width: 54em) {
  html {
    font-size: 35%;
  }

  .screen {
    margin-top: 12rem;
  }

  .display-screen {
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  .filter-wrapper {
    display: none;
  }

  .product-listing {
    margin-top: 12rem;
    margin-left: 0;
  }

  .filter-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 100vh;
    position: sticky;
  }
  .profile-screen {
    width: 100%;
  }
  .cart-wrapper {
    margin-top: 10rem;
    justify-content: center;
  }
  .profile {
    margin-top: 10rem;
  }
}
